<ion-view title="Favourite" id="page13">
    <ion-content padding="true" class="has-header">
        <ion-list id="favourite-list9">
            <ion-item class="item-thumbnail-left balanced" id="favourite-list-item15" ui-sref="tabsController.newsA">
                <img src="img/7f629468-e91d-4941-981b-9f91e6f86556_500.jpg">
                <h2balanced>News A
                    <p style="white-space:normal;">Kobe Bryant Breaks Scoring Record In His Final NBA Game</p>
                </h2balanced>
            </ion-item>
        </ion-list>
        <button id="favourite-button14" class="button button-positive  button-block">Share it</button>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <ion-list id="favourite-list10">
            <ion-item class="item-thumbnail-left energized" id="favourite-list-item16">
                <img src="img/RiverFire4.jpg">
                <h2energized>News B
                    <p style="white-space:normal;">Your guide to secret vantage points for Brisbane's firework spectacular</p>
                </h2energized>
            </ion-item>
        </ion-list>
        <button id="favourite-button16" class="button button-energized  button-block">Share it</button>
    </ion-content>
</ion-view>