<ion-view title="News A" id="page9">
    <ion-content padding="true" class="has-header">
        <h4 id="newsA-heading4" style="color:#554343;font-weight:400;text-align:center;">Kobe Bryant Breaks Scoring Record In His Final NBA Game</h4>
        <ion-list id="newsA-list7">
            <ion-item class="item-icon-left positive" id="newsA-list-item9">
                <i class="icon ion-link"></i>Share</ion-item>
        </ion-list>
        <div>
            <img src="img/ap_820729384935-03b12131bac5ae0d36b6e7fd467ac7df648f44d6-s800-c85.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <div id="newsA-markdown3" style="color:#000000;">
            <p>Wednesday night marks his last game, period.</p>

            <p>To honor Bryant's career, the Lakers have gone all out, inviting his former teammates to the Staples Center, erecting giant screens outside the arena bearing his image, and bringing in Red Hot Chili Peppers bassist Flea to play the national
                anthem, according to the Los Angeles Times.</p>

            <p>"The game is going to be a 'zircus' — a zoo and a circus," said Lakers publicist John Black, according to newspaper.</p>

            <p>Courtside tickets for the game have sold for as high as $27,500, compared with $1,000 to $2,000 for a typical game, ABC News reports, and hordes of media will be on hand. The much-hyped event even spawned it's own Twitter hashtag, #MambaDay,
                after Bryant's nickname, the "Black Mamba."</p>

            <p>Though the Lakers have gone 16-65 in a miserable season that's landed them dead last in the Western conference, and though Bryant himself has struggled mightily to make his ailing body obey his competitive spirit, the focus of tonight's game
                will be on the past, not the present.</p>

            <p>Here's a look back at his life and career by the numbers.</p>
        </div>
    </ion-content>
</ion-view>