<ion-view title="Shaking Page" hide-nav-bar="true" id="page12">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 83px;"></div>
        <h3 id="shakingPage-heading3" style="color:#95989A;font-weight:300;text-align:center;">Shake the Phone</h3>
        <div class="spacer" style="width: 300px; height: 31px;"></div>
        <div>
            <a style="display:block;" ui-sref="tabsController.top5">
                <img src="img/v6muOWOSPSCnPGDZpATl_shake.png" width="45%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
    </ion-content>
</ion-view>