<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
        <ion-tab title="Shake" icon="ion-android-hand" href="#/page1/tab2/page12" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Favourite" icon="ion-heart" href="#/page1/page13" id="tabsController-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Account" icon="ion-android-contact" href="#/page1/page11" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Logout" icon="ion-log-out" href="#/page1/tab6/page10" id="tabsController-tab6">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>