<ion-view title="Top 5" id="page8">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="top5-card21">
            <ion-item class="item-icon-left energized" id="top5-list-item1" ui-sref="tabsController.newsA">
                <i class="icon ion-ios-paper"></i>News A</ion-item>
        </div>
        <div>
            <a style="display:block;" ui-sref="tabsController.newsA">
                <img src="img/650x366" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <button id="top5-button10" style="font-size:20px;" class="button button-energized  button-block">Add to Favourite</button>
        <div class="spacer" style="width: 300px; height: 41px;"></div>
        <ion-list id="top5-list3">
            <ion-item class="item-icon-left positive" id="top5-list-item7">
                <i class="icon ion-ios-paper"></i>News B</ion-item>
        </ion-list>
        <div>
            <img src="img/new-years-eve-south-bank1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <button id="top5-button11" style="font-size:20px;" class="button button-positive  button-block">Add to Favourite</button>
        <div class="spacer" style="width: 300px; height: 46px;"></div>
    </ion-content>
</ion-view>